<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>780229389693-drmjgf9evkr8o5jicdv3ap03g0c7u8q0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780229389693-drmjgf9evkr8o5jicdv3ap03g0c7u8q0</string>
	<key>API_KEY</key>
	<string>AIzaSyBU-99ikqYxM8s55YPHx6AJ5s_XLaJhU10</string>
	<key>GCM_SENDER_ID</key>
	<string>780229389693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benmakusha.Pokemon-FinderUltimateExtreme</string>
	<key>PROJECT_ID</key>
	<string>pokefinder-55a22</string>
	<key>STORAGE_BUCKET</key>
	<string>pokefinder-55a22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:780229389693:ios:a9d8d7a89b52dc04</string>
	<key>DATABASE_URL</key>
	<string>https://pokefinder-55a22.firebaseio.com</string>
</dict>
</plist>